@use '../settings/colors' as colors;

@mixin container {
  width: 100%;
  margin-inline: auto;
  padding-inline: 1.5rem;

  @media (min-width: 640px) {
    padding-inline: 2rem;
  }

  @media (min-width: 1024px) {
    max-width: 64rem;
  }
}

@mixin focus-ring {
  outline: 2px solid transparent;
  outline-offset: 2px;

  &:focus-visible {
    outline-color: colors.$color-primary;
    box-shadow: 0 0 0 4px rgba(colors.$color-primary, 0.2);
  }
}
